# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data and Models
# (We keep data/tmdb_5000_movies.csv because it's only 5.6MB and Render needs it)
# We also include backend/models/*.pkl for Vercel since Vercel does not train the model on deploy

# Frontend Node/React
frontend/node_modules/
frontend/dist/
frontend/.env
*.log

# Windows/Mac specifics
.DS_Store
Thumbs.db
